#logo {
    border-right: none;
    height: 65px;
    min-width: 100px;
}

#menu {
    display: none;
}

#login-link {
    display: none;
}

#button-menu-mobile {
    display: block;
}

#header-container .menu-mobile-chiuso-alta-spec {
    display: none;
}

#header-container .menu-mobile-aperto-alta-spec {
    display: flex;
}


h2 {
    font-size: 1.8em;
}

/*================HOME HERO====================== */
/*================HOME HERO====================== */
/*================HOME HERO====================== */

#hero-container {
    background-image: linear-gradient(
            180deg,              
            rgba(0, 0, 0, 0.1) 0%,  
            rgba(0, 0, 0, 0.1) 80%, 
            rgba(0, 0, 0, 1) 100%
        ),
        url("../assets/img/home/home_hero_mobile.jpeg");
}

#hero-text-container h2 {
    max-width: 80%;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 30px;
    padding: 0.5em;
    margin-bottom: 1.5em;
}

/*================MAIN HOME====================== */
/*================MAIN HOME====================== */
/*================MAIN HOME====================== */

#programma-container {
    border-radius: 90px;
    padding: 2em 1.5em;
}

#programma-container h3 {
    font-size: 2em;
}

.txt-container-lista-programma h4 {
    font-size: 1.7em;
}

.img-lista-programma {
    max-width: 100%;
}

.txt-container-lista-programma {
    min-width: auto;
}

/*================CATALOGO====================== */
/*================CATALOGO====================== */
/*================CATALOGO====================== */

#container-input-ricerca {
    flex-direction: column;
    gap: 0.5em;
}


/*======================= CHRIS =====================*/

/* ============ AUTHENTICATION PAGES ============*/
/* ============ AUTHENTICATION PAGES ============*/
/* ============ AUTHENTICATION PAGES ============*/
#planet-desktop{
    display: none;
}

#planet-mobile{
    display: block;
    width: 100%;
    margin-top:2em;
}

#auth-form-bg{
    height: auto;
}

blockquote{
    display: none;
}

#auth-form-bg{
    background: transparent;
    width:100%;
    float:none;
    color: var(--txt-color-not-pure-white);
}

#auth-form-container{
    width: 100%;
}

.authField{
    background-color: var(--bg-color-dark-black);
}

/* ============ DETAIL PAGE ============*/
/* ============ DETAIL PAGE ============*/
/* ============ DETAIL PAGE ============*/
#contenuto-dettagli{
    max-width: 97%;
}

#imgScroller{
    width: 99%;
}

#contenuto-dettagli > h1{
    margin: 0.5em auto;
    border-radius: 0.7em;    
    width: 80%;
}

/* ============== ITINERARIO =============== */

.itemItinerario{
    width: 80%;
    flex-direction: column; 
    margin: 3em auto;
}

.itineraryImg{
    width: 70%;
    max-width:400px;
    margin: auto;
    margin-bottom: 0.5em;
}

.itemItinerario > div{
    text-align: center;
}


/* ============ PARTENZE =============*/

#containerPartenze{
    flex-direction: column;
}

#riepilogoAcquisto{
    width: 80%;
    max-width:350px;
    margin:auto;
    float: none;
}

#listaPartenze{
    float: none;
    width: 60%;
    max-width:300px;
    margin:auto;
    min-width: fit-content;
}

.arrow-icon{
    transform: rotate(90deg);
}

.opzionePartenza{
    flex-direction: column;
}

.opzionePartenza > .dataArrivo{
    border:none;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid var(--txt-color-not-pure-white);
    padding-bottom:0.5em;
    margin-bottom: 0.5em;
}

#buyButton{
    width: 70%;
    margin-left: 15%;
}

/* ============= RECENSIONI ==========*/
#containerRecensioni{
    width: 90%;
    flex-direction: column;
}

.recensione{
    width: 60%;
}
/*======================= END CHRIS =====================*/

/*=======================CUOGO======================*/
/*pagina 404*/
.liquid-glass-container-error404 {
    width: 90%;
    height: auto;
    padding: 20px;  
}
.immagine-404 {
    width: 100%;
    margin-bottom: 0px;
    float:none
}

.immagine-404 img {
    width: 100%;
    height: auto;
    float: none;
    display: block;
    margin: 0;
    border-radius: 20px;   
}

.testo-404 {
    align-items: center;
    text-align: center;
    clear:both;
   
}

.testo-404 p {
    font-size: 20px;
    margin-top: 15px;
    line-height: 1.5;
}

.button-home-errore404 {
    margin-top: 25px;
    padding: 12px 25px;
    font-size: 16px;
}

/*pagina area personale */
.liquid-glass-container-informazioni-account-header h2{
    font-size: 18px;
    font-weight: bold;
}

.liquid-glass-container-informazioni-account-body-container {
    flex-direction: column;  
    align-items: center;      
    margin-top: 10px;
}
.liquid-glass-container-informazioni-account-icon {
    width: 120px;             
    margin: 0 0 15px 0;       
    order: -1; 
}

.liquid-glass-container-informazioni-account-body-info {
    margin-left: 0;          
    text-align: center;  
    order: 0; 
}
.liquid-glass-container-informazioni-account{
    width: 65%;
}

.liquid-glass-container-viaggi{
    width: 65%;
}


.testo-area-personale-account{
    
    display: block;
}
.card-container-viaggi{
    gap:12px;
    margin-top: 20px;
}
.card-viaggi-area-personale {
    
    margin: 0;
    
  }

/*======================END CUOGO=======================*/

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

/* =================== GIULIO ====================*/

/*================CHI SIAMO====================== */
/*================CHI SIAMO====================== */
/*================CHI SIAMO====================== */
root {
    --border-radius-box: 15px;
}

.generic-liquid-glass-chi-siamo {
    display: flex;
    flex-direction: column;
    color: var(--txt-color-not-pure-white);
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
    border: 1px solid var(--border-liquid-glass);
    gap: 10px;
    border-radius: var(--border-radius-box);
    overflow: hidden;
    margin-bottom: 40px;
    padding: 20px;
    align-items: center;
}

.chi-siamo-img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: var(--border-radius-box);
}

.generic-liquid-glass-chi-siamo .info-quartier-generale{
    display: flex;
    color: var(--txt-color-not-pure-white);
    justify-content: center;
    gap: 40px;
    text-align: center;
    margin-top: 30px;
}

/* =================== END GIULIO ====================*/