#logo {
    border-right: none;
}

#header-container {
    width: 90%;
}

#menu {
    display: none;
}

#login-link {
    display: none;
}

#button-menu-mobile {
    display: block;
}




#breadCrumb {
    color: var(--txt-color-not-pure-white);
    font-size: 1.2em;
    border-radius: 0px 0px 60px 60px;
    border: 0.5px solid var(--border-liquid-glass);
    border-top: none;
    padding: 0 1em 0 1em;
}