#logo {
    border-right: none;
    height: 65px;
    min-width: 100px;
}

#menu {
    display: none;
}

#login-link {
    display: none;
}

#button-menu-mobile {
    display: block;
}

#header-container .menu-mobile-chiuso-alta-spec {
    display: none;
}

#header-container .menu-mobile-aperto-alta-spec {
    display: flex;
}


/*======================= CHRIS =====================*/
#planet-desktop{
    display: none;
}

#planet-mobile{
    display: block;
    width: 100%;
    margin-top:2em;
}

#auth-form-bg{
    height: auto;
}

blockquote{
    display: none;
}

#auth-form-bg{
    background: transparent;
    width:100%;
    float:none;
    color: var(--txt-color-not-pure-white);
}

#auth-form-container{
    width: 100%;
}

form > input{
    background-color: var(--bg-color-dark-black);
}
