#logo {
    border-right: none;
    height: 65px;
    min-width: 100px;
}

#menu {
    display: none;
}

#login-link {
    display: none;
}

#button-menu-mobile {
    display: block;
}

#header-container .menu-mobile-chiuso-alta-spec {
    display: none;
}

#header-container .menu-mobile-aperto-alta-spec {
    display: flex;
}

h2 {
    font-size: 1.8em;
}

/*================HOME HERO====================== */
/*================HOME HERO====================== */
/*================HOME HERO====================== */


#hero-text-container h2 {
    max-width: 80%;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 30px;
    padding: 0.5em;
    margin-bottom: 1.5em;
}

#programma-container {
    height: 2000px;
    border-radius: 80px;
}