#logo {
    border-right: none;
    height: 65px;
    min-width: 100px;
}

#menu {
    display: none;
}

#login-link {
    display: none;
}

#button-menu-mobile {
    display: block;
}

#header-container .menu-mobile-chiuso-alta-spec {
    display: none;
}

#header-container .menu-mobile-aperto-alta-spec {
    display: flex;
}


h2 {
    font-size: 1.8em;
}

/*================HOME HERO====================== */
/*================HOME HERO====================== */
/*================HOME HERO====================== */

#hero-container {
    background-image: linear-gradient(
            180deg,              
            rgba(0, 0, 0, 0.1) 0%,  
            rgba(0, 0, 0, 0.1) 80%, 
            rgba(0, 0, 0, 1) 100%
        ),
        url("../assets/img/home/home_hero_mobile.jpeg");
}

#hero-text-container h2 {
    max-width: 80%;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 30px;
    padding: 0.5em;
    margin-bottom: 1.5em;
}

/*================MAIN HOME====================== */
/*================MAIN HOME====================== */
/*================MAIN HOME====================== */

#programma-container {
    border-radius: 90px;
    padding: 2em 1.5em;
}

#programma-container h3 {
    font-size: 2em;
}

.txt-container-lista-programma h4 {
    font-size: 1.7em;
}

.img-lista-programma {
    max-width: 100%;
}

.txt-container-lista-programma {
    min-width: auto;
}




/*======================= CHRIS =====================*/

/* ============ AUTHENTICATION PAGES ============*/
/* ============ AUTHENTICATION PAGES ============*/
/* ============ AUTHENTICATION PAGES ============*/
#planet-desktop{
    display: none;
}

#planet-mobile{
    display: block;
    width: 100%;
    margin-top:2em;
}

#auth-form-bg{
    height: auto;
}

blockquote{
    display: none;
}

#auth-form-bg{
    background: transparent;
    width:100%;
    float:none;
    color: var(--txt-color-not-pure-white);
}

#auth-form-container{
    width: 100%;
}

form > input{
    background-color: var(--bg-color-dark-black);
}

/* ============ DETAIL PAGE ============*/
/* ============ DETAIL PAGE ============*/
/* ============ DETAIL PAGE ============*/
#contenuto-dettagli{
    max-width: 97%;
}

#imgScroller{
    width: 99%;
}

#contenuto-dettagli > h1{
    margin: 0.5em auto;
    border-radius: 0.7em;    
    width: 80%;
}

/* ============== ITINERARIO =============== */

.itemItinerario{
    width: 80%;
    flex-direction: column; 
    margin: 3em auto;
}

.itineraryImg{
    width: 70%;
    max-width:400px;
    margin: auto;
    margin-bottom: 0.5em;
}

.itemItinerario > div{
    text-align: center;
}


/* ============ PARTENZE =============*/

#riepilogoAcquisto{
    width: 80%;
    max-width:350px;
    margin:auto;
    float: none;
}

#listaPartenze{
    float: none;
    width: 60%;
    max-width:300px;
    margin:auto;
    min-width: fit-content;
}

.arrow-icon{
    transform: rotate(90deg);
}

.opzionePartenza{
    flex-direction: column;
}

.opzionePartenza > .dataArrivo{
    border:none;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid var(--txt-color-not-pure-white);
    padding-bottom:0.5em;
    margin-bottom: 0.5em;
}

#buyButton{
    width: 70%;
    margin-left: 15%;
}

/* ============= RECENSIONI ==========*/
#containerRecensioni{
    width: 90%;
    flex-direction: column;
}

.recensione{
    width: 60%;
}
/*======================= END CHRIS =====================*/
