html {
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt;
}

a:link:after,
a:visited:after {
  content: " [attr(href)] ";
  font-size: 90%;
}

#header-container,
  #top-header-container,
  #menu,
  #menu-mobile,
  #button-menu-mobile,
  header {
    display: none;
  }

  #container-ricerca {
    display: none;
  }

  #button-torna-su{
    display: none;
  }

  #footer-mid-container,
  #footer-contatti-container{
    display: none;
  }

  .img-lista-programma,
  .chi-siamo-img,
  #immagine-404,
  #planet-desktop{
    display: none;
  }

  .liquid-glass-container-informazioni-account-icon img,
  #container-lista-viaggi img,
  #cards-list-container img{
  display: none;
}

