* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color-dark-black: #000000;
    --bg-color-dark-gray: #242424;
    --txt-color-gray: #8B8B8B;
    --txt-color-not-pure-white: #F0F0F0;
    --link-color-not-pure-white: #F0F0F0;
    --txt-color-dark-gray: #242424;
    --txt-error-messages: #DF1818;
    --bgButton-color-not-pure-white: #F0F0F0;
    --header-bg-color: rgba(12, 12, 12, 0.9);
    --generic-liquid-glass-bg-coor: rgba(71, 71, 71, 0.3);
    --border-liquid-glass: rgba(255, 255, 255, 0.4);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 11em;
}


html, body {
    font-family: "Inter", "Roboto", sans-serif;
    line-height: 1.5;
}


body {
    background-color: var(--bg-color-dark-black);
    background-image: url("../assets/img/sky_backgorund.jpg");
    background-attachment: fixed;
    padding-top: 11em;
}

#home-body {
    padding-top: 0;
}

.generic-liquid-glass {
    background: var(--generic-liquid-glass-bg-coor);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(5px);
    border: 1px solid var(--border-liquid-glass);
}

h2 {
    font-size: 2.5em;
}

/*================AIUTI NAVIGAZIONE====================== */
/*================AIUTI NAVIGAZIONE====================== */
/*================AIUTI NAVIGAZIONE====================== */

.aiuti-navigazione {
    position: fixed;
    z-index: 1001;
    top: 10px;
    left: -999em;
    color: var(--txt-color-not-pure-white);
    background-color: var(--bg-color-dark-black);
    border-radius: 40px;
    padding: 1em;
    text-decoration: none;
}

.aiuti-navigazione:focus {
    left: 10px;
}

/*================HEADER====================== */
/*================HEADER====================== */
/*================HEADER====================== */

header {
    padding-left: 0.3em;
    padding-right: 0.3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.5s;
}

.header-no-scroll {
    padding-top: 0em;
}

.header-scroll {
    padding-top: 0.7em;
}



#header-container {
    padding: 0.5em 2em 0.5em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
    max-width: 90%;

    border: 1px solid var(--border-liquid-glass);
    background: var(--header-bg-color);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(4.5px);

    transition: all 0.5s;
}


.header-container-no-scroll {
    border-radius: 0px 0px 60px 60px;
}

.header-container-scroll {
    border-radius: 60px;
}


#logo {
    display: block;
    background-image: url("../assets/img/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    text-indent: -9999em;
    height: 80px;
    min-width: 105px;
    text-align: center;
    padding-right: 2.5em;
    border-right: 1px solid var(--border-liquid-glass);
}

#top-header-container {
    align-items: center;
    display: flex;
    width: 100%;
}

.menu-link {
    color: var(--link-color-not-pure-white);
    text-decoration: none;
}


#menu ul {
    display: flex; 
    list-style-type: none; 
    gap: 1.1em;
    font-size: 1.1em;
    margin-left: 1em;
}

#menu li {
    color: var(--txt-color-not-pure-white);
    text-decoration: none;
    margin: 1.5em 0 1.5em 0;
}

#login-link{
    color: var(--txt-color-dark-gray);
    background-color: var(--bgButton-color-not-pure-white);
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.8em;
    border-radius: 60px;
    border: none;
    margin-left: auto;
}

#button-menu-mobile {
    display: none;
    margin-left: auto;
    background: none;
    border: none;
    padding: 0.5em;
    min-height: 44px;
    min-width: 44px;
}

#image-button-menu-mobile {
    height: 25px;
    transition: all 0.3s;
}

.image-button-menu-mobile-chiuso {
    transform: rotate(0deg);
}

.image-button-menu-mobile-aperto {
    transform: rotate(180deg);
}

#menu-mobile {
    margin: 1em 0;
    width: 100%;
}

#menu-mobile ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    list-style-type: none; 
    margin: 1em 0;
}

#menu-mobile ul li {
    width: 100%;
    text-align: center;
    color: var(--txt-color-not-pure-white);
    font-size: 1.5em;
}


#login-link-mobile {
    color: var(--txt-color-dark-gray);
    background-color: var(--bgButton-color-not-pure-white);
    text-decoration: none;
    padding: 0.2em 0.5em;
    border-radius: 60px;
    border: none;
}


/*per chiusura apertura menu mobile*/

/*questo "display: none;" viene sovrascritto da istruzioni con più specificità in mini_style.css*/
/*per risoluzione bug apertura menu mobile*/
.menu-mobile-chiuso-bassa-spec {
    display: none;
}



/*================HOME HERO====================== */
/*================HOME HERO====================== */
/*================HOME HERO====================== */

#hero-container {
    background-image: linear-gradient(
            180deg,              
            rgba(0, 0, 0, 0.2) 0%,  
            rgba(0, 0, 0, 0.2) 80%, 
            rgba(0, 0, 0, 1) 100%
        ),
        url("../assets/img/home/home_hero.jpeg");
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    padding-top: 11em;
    box-sizing: border-box;
    
    margin-bottom: 5em;
    

}

#hero-container::after {
    content: "";
    position: absolute;
    bottom: -10em;
    left: 0;
    width: 100%;
    height: 10em;
    background: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: -1000;
}


#hero-text-container {
    width: 1000px;
    max-width: 90%;
    margin: auto;
    
}


#hero-text-container h2 {
    color: var(--txt-color-not-pure-white);
    max-width: 60%;
    margin-bottom: 0.5em;
    font-weight: normal;
}


#scopri-link {
    color: var(--txt-color-dark-gray);
    background-color: var(--bgButton-color-not-pure-white);
    text-decoration: none;
    font-size: 2em;
    padding: 0.5em;
    border-radius: 60px;
    border: none;
}



/*================MAIN====================== */
/*================MAIN====================== */
/*================MAIN====================== */

#contenuto {
    width: 1000px;
    margin: 0 auto;
    height: 3000px;
    color: white;
    max-width: 90%;
}

#contenuto h2 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 1em;
}

#programma-container {
    height: 2000px;
    border-radius: 170px;
}