* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color-dark-black: #000000;
    --bg-color-dark-gray: #242424;
    --txt-color-gray: #8B8B8B;
    --txt-color-not-pure-white: #F0F0F0;
    --link-color-not-pure-white: #F0F0F0;
    --txt-color-dark-gray: #242424;
    --txt-error-messages: #DF1818;
    --bgButton-color-not-pure-white: #F0F0F0;
    --header-bg-color: rgba(12, 12, 12, 0.9);
    --generic-liquid-glass-bg-coor: rgba(71, 71, 71, 0.2);
    --border-liquid-glass: rgba(255, 255, 255, 0.4);

    --bg-color-auth-form: #1b1b1b;

    /*PROPOSTE DI NOMI VARIABILI
    --link
    --visited-link
    --normal-text
    --error-te
    --secondary-text
    --border
    --button-bg
    --accent-color-1
    */
    --accent-color: #94FBFF;

}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 11em;
}


html, body {
    font-family: "Inter", "Roboto", sans-serif;
    line-height: 1.5;
}


body {
    background-color: var(--bg-color-dark-black);
    background-image: url("../assets/img/sky_backgorund.jpg");
    background-attachment: fixed;
    padding-top: 11em;
}

#home-body {
    padding-top: 0;
}

.generic-liquid-glass {
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
    border: 1px solid var(--border-liquid-glass);
}

h2 {
    font-size: 2.5em;
    color: var(--txt-color-not-pure-white);
}

/*================AIUTI NAVIGAZIONE====================== */
/*================AIUTI NAVIGAZIONE====================== */
/*================AIUTI NAVIGAZIONE====================== */

.aiuti-navigazione {
    position: fixed;
    z-index: 1001;
    top: 10px;
    left: -999em;
    color: var(--txt-color-not-pure-white);
    background-color: var(--bg-color-dark-black);
    border-radius: 40px;
    padding: 1em;
    text-decoration: none;
}

.aiuti-navigazione:focus {
    left: 10px;
}

/*================HEADER====================== */
/*================HEADER====================== */
/*================HEADER====================== */

header {
    padding-left: 0.3em;
    padding-right: 0.3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.5s;
}

.header-no-scroll {
    padding-top: 0em;
}

.header-scroll {
    padding-top: 0.7em;
}



#header-container {
    box-sizing: border-box;
    padding: 0.5em 2em 0.5em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1400px;
    max-width: 97%;

    border: 1px solid var(--border-liquid-glass);
    background: var(--header-bg-color);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(4.5px);

    transition: all 0.5s;
}


.header-container-no-scroll {
    border-radius: 0px 0px 60px 60px;
}

.header-container-scroll {
    border-radius: 60px;
}


#logo {
    display: block;
    background-image: url("../assets/img/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    text-indent: -9999em;
    height: 80px;
    min-width: 105px;
    text-align: center;
    padding-right: 2.5em;
    border-right: 1px solid var(--border-liquid-glass);
}

#top-header-container {
    align-items: center;
    display: flex;
    width: 100%;
}

.menu-link {
    color: var(--link-color-not-pure-white);
    text-decoration: none;
}


#menu ul {
    display: flex; 
    list-style-type: none; 
    gap: 1.1em;
    font-size: 1.1em;
    margin-left: 1em;
}

#menu li {
    color: var(--txt-color-not-pure-white);
    text-decoration: none;
    margin: 1.5em 0 1.5em 0;
}

#login-link{
    color: var(--txt-color-dark-gray);
    background-color: var(--bgButton-color-not-pure-white);
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    padding: 1em 2em;
    border-radius: 1.2em;
    border: none;
    margin-left: auto;
    transition: 0.5s;
}

#login-link:hover{
    scale: 1.1;
}

#button-menu-mobile {
    display: none;
    margin-left: auto;
    background: none;
    border: none;
    padding: 0.5em;
    min-height: 44px;
    min-width: 44px;
}

#image-button-menu-mobile {
    display: block;
    height: 25px;
    transition: all 0.3s;
}

.image-button-menu-mobile-chiuso {
    transform: rotate(0deg);
}

.image-button-menu-mobile-aperto {
    transform: rotate(180deg);
}

#menu-mobile {
    margin: 1em 0;
    width: 100%;
}

#menu-mobile ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    list-style-type: none; 
    margin: 1em 0;
}

#menu-mobile ul li {
    width: 100%;
    text-align: center;
    color: var(--txt-color-not-pure-white);
    font-size: 1.5em;
}


#login-link-mobile {
    color: var(--txt-color-dark-gray);
    background-color: var(--bgButton-color-not-pure-white);
    text-decoration: none;
    padding: 0.2em 0.5em;
    border-radius: 60px;
    border: none;
}


/*per chiusura apertura menu mobile*/

/*questo "display: none;" viene sovrascritto da istruzioni con più specificità in mini_style.css*/
/*per risoluzione bug apertura menu mobile*/
.menu-mobile-chiuso-bassa-spec {
    display: none;
}



/*================HOME HERO====================== */
/*================HOME HERO====================== */
/*================HOME HERO====================== */

#hero-container {
    background-image: linear-gradient(
            180deg,              
            rgba(0, 0, 0, 0.1) 0%,  
            rgba(0, 0, 0, 0.1) 80%, 
            rgba(0, 0, 0, 1) 100%
        ),
        url("../assets/img/home/home_hero.jpeg");
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    padding-top: 11em;
    box-sizing: border-box;
    
    margin-bottom: 1em;


}

#hero-container::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 30em;
    background: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: -1000;
}


#hero-text-container {
    width: 1000px;
    max-width: 90%;
    margin: auto;

}


#hero-text-container h2 {
    color: var(--txt-color-not-pure-white);
    max-width: 60%;
    margin-bottom: 0.5em;
    font-weight: normal;
}


#scopri-link {
    color: var(--txt-color-dark-gray);
    background-color: var(--bgButton-color-not-pure-white);
    text-decoration: none;
    font-size: 2em;
    padding: 0.5em;
    border-radius: 60px;
    border: none;
}



/*================MAIN HOME====================== */
/*================MAIN HOME====================== */
/*================MAIN HOME====================== */

#contenuto {
    width: 1200px;
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
}

#contenuto h3 {
    text-align: center;
    color: var(--txt-color-not-pure-white);
    font-size: 2.5em;
}


#contenuto h2 {
    text-align: center;
    font-weight: normal;
}

#programma-container {
    border-radius: 150px;
    padding: 2em 3em;
    margin-top: 2em;
}

    

#lista-programma {
    list-style-type: none;
}

#lista-programma li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    margin-top: 4em;
    flex-wrap: wrap;
}

.img-lista-programma {
    width: 18em;
    border-radius: 50%;
    flex-shrink: 0;
    border: 2px solid var(--border-liquid-glass);
}

.txt-container-lista-programma {
    flex: 1 1 15em;
    min-width: 17em;
    max-width: 26em;
}

.txt-container-lista-programma h4 {
    color: var(--txt-color-not-pure-white);
    font-size: 2em;
    text-align: center;
}

.txt-container-lista-programma p {
    color: var(--txt-color-not-pure-white);
    font-size: 1.2em;
    text-align: center;
}

#punti-di-forza {
    display: inline-block;
    padding: 0.2em 1em;
    border-radius: 50px;
    margin: 1em 0;
}



#cards-list-container {
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5em;
}

#cards-list-container h4 {
    font-size: 1.5em;
}

#cards-list-container li {
    width: 300px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-txt-container {
    color: var(--txt-color-not-pure-white);
    padding: 1.5em;
}

#cards-list-container li img {
    display: block;
    width: 100%;
    border-radius: 0 0 50px 50px;
    border-top: 1px solid var(--border-liquid-glass);
}

/*================FOOTER====================== */
/*================FOOTER====================== */
/*================FOOTER====================== */

footer {
    color: var(--txt-color-not-pure-white);
    background: linear-gradient(
        180deg,
        rgb(0,0,0,0) 0%,
        rgb(0,0,0,1) 15%,
        rgb(0,0,0,1) 100%
    );
    margin-top: 3em;
    padding: 7em 0 3em 0;
}

#footer-mid-container {
    margin: auto;
    width: 500px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 90%;
    gap: 0.5em;
    margin-bottom: 3em;
}

#footer-mid-container h3 {
    margin-bottom: 0.8em;
}

#footer-mid-container ul {
    list-style-type: none;
}

#footer-mid-container li {
    margin-bottom: 0.5em;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


#footer-contatti-container{
    text-align: right;
}

#button-torna-su {
    border-radius: 50%;
    padding: 0.8em;
    align-self: center;
    border: none;
    margin: 0 auto 1em auto;
    display: block;
}

#img-button-torna-su {
    height: 40px;
}

footer p {
    display: block;
    margin: auto;
    max-width: 700px;
    text-align: center;
    font-weight: lighter;
    padding: 0 2em;
}


/* ===================== END DAMN ==================*/

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

/* ================== CUOGO =================== */

/* PAGINA 404*/
#error404-page{
    background-image: url("../assets/img/sky_backgorund.jpg");
    background-size: cover;      
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
    justify-content: center; 
    align-items: center;
}

.liquid-glass-container-error404{
    width: 70%;
    height: 50vh;
    padding: 30px;
    border-radius: 30px;
    backdrop-filter: blur(15px) saturate(100%); 
    color: var(--txt-color-not-pure-white);
    margin: 0 auto;
    background: var(--generic-liquid-glass-bg-coor);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: 1px solid var(--border-liquid-glass);
}

.immagine-404 img{
  width: 60%;
  height: 50vh;
  border-radius: 30px;
  float: left;
}

.testo-404{
  display: flex;
  flex-direction: column;
    align-items: center; 
}
.testo-404 p{
    margin-top: 30px;
 font-size: 32px;
 line-height: 2;

}

.testo-404 button{
 margin-top: 30px; 
}

.button-home-errore404{
  background-color: var(--txt-color-not-pure-white);
  color:  var(--bg-color-dark-black);
  border: none;
  border-radius: 999px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 50px;
}


/* PAGINA AREA PERSONALE */
.breadcrumb-centrata-area-personale{
    margin:-60px auto 50px auto;
    display: block;
    width: fit-content;
}
#areapersonale-page{
    background-image: url("../assets/img/sky_backgorund.jpg");
    background-size: cover;      
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
    justify-content: center;
    align-items: center;
}

.liquid-glass-container-informazioni-account{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
    border-radius: 30px; 
    color: var(--txt-color-not-pure-white);
    margin: 0 auto;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(4.5px);
    border: 1px solid var(--border-liquid-glass);
}



.liquid-glass-container-informazioni-account-header{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 1vh;
    padding: 30px;
    border-radius: 50px;
    margin: 0 auto;
    color: var(--txt-color-not-pure-white);
    border: 1px solid var(--border-liquid-glass);
}

/* QUESTE TRE CLASSI SERVONO PER NON MODELLARE LA STESSA CLASSE SULLA LARGHEZZA*/
.liquid-glass-container-informazioni-account-header-large{
    width: 52%;
}

.liquid-glass-container-informazioni-account-header-medium{
    width: 38%;
}
.liquid-glass-container-informazioni-account-header-small{
    width: 34%;
}

.liquid-glass-container-informazioni-account-header h2{
    font-size: 32px;
    font-weight: bold;
}



.liquid-glass-container-informazioni-account-body-container{
    display: flex;        
    flex-direction: row;   
    justify-content: flex-start; 
    align-items: center; 
    margin-top: 20px; 
}
.liquid-glass-container-informazioni-account-body-info{
   color: var(--txt-color-not-pure-white);
   margin-left: 40px;
   flex:1;
}

.liquid-glass-container-informazioni-account-icon{
    width: 23%;            
    aspect-ratio: 1 / 1;
    border-radius: 50%; 
    overflow: hidden;   
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color-dark-black);
    border: 1px solid var(--border-liquid-glass);
    margin-left: -20px;
    margin-right: 30px;
}

.liquid-glass-container-informazioni-account-icon img{
    height: 100%;
    width: 100%;
    
   
}
.testo-username-informazioni-account{
    font-size: 28px;
    font-weight: bold;
}
.testo-area-personale-account{
    color: #8B8B8B;
}

.liquid-glass-container-viaggi{
    width: 50%;
    padding: 30px;
    border-radius: 30px;
    color: var(--txt-color-not-pure-white);
    margin: 0 auto;
    margin-top: 80px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(4.5px);
    border: 1px solid var(--border-liquid-glass);
}

.card-container-viaggi{
    display: flex;
    flex-wrap: wrap;     
    gap: 20px;               
    justify-content: center;
    margin-top: 30px;
}

.card-viaggi-area-personale{
  flex: 0 0 calc(33.33% - 20px);
  background-color: var(--bg-color-dark-black);
  width: 25%;
  text-align: center;
  display: flex;       
  flex-direction: column;
  margin:0;
}

.card-viaggi-area-personale > .button-cancella-prenotazione {
    margin-top: auto; 
    width: 50%;
    align-self: center;
}

.card-viaggi-area-personale p{
 font-weight: 400;
}

.card-viaggi-area-personale img{
    height: 50%;
    width: 100%;
    
}

.button-cancella-prenotazione{
  background-color: var(--bg-color-dark-black);
  color: var(--link-color-not-pure-white);        
  border: 1px solid var(--border-liquid-glass);
  border-radius: 15px;        
  padding: 10px 20px;                  
  font-size: 12px;            
  margin-top: 10px;
  margin-bottom: 15px;
 
}

.button-recensioni-azzurro{
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}
/* ===================== END CUOGO ==================*/

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

/*================ CHRIS ================*/

/* ========= AUTHENTICATION PAGES  ============*/
/* ========= AUTHENTICATION PAGES  ============*/
/* ========= AUTHENTICATION PAGES  ============*/
#auth-body {
    background-color: var(--bg-color-dark-black);
    background-image: none;
    background-attachment: fixed;
    padding-top: 0em;
}

#planet-desktop{
    margin-top: 15vh;
    height: 70vh;
    position: fixed;
    right: 50%;
    min-height: 500px;
}

#planet-mobile{
    display: none;
}

#breadcrumb{
    background: var(--header-bg-color);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3.5px);
    color: var(--txt-color-not-pure-white);
    border: 1px solid var(--border-liquid-glass);
    padding: 0.3em 1em;
    border-radius: 1em;
    width: fit-content;
    font-weight: bold;
}

#auth-body #breadcrumb{
    margin: 3em auto;
}

#breadcrumb a {
    color: var(--txt-color-not-pure-white);
    font-weight: normal;
}

blockquote{
    position: absolute;
    color: var(--txt-color-gray);
    font-family: "Inter", "Roboto", sans-serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight:150;
    line-height: 1.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.907);
    margin: 2em 2em;
    max-width: 35%;
}

blockquote cite{
    float:right;
}

/* ================== AUTHENTICATION FORMS ===================*/

#auth-form-bg{
    background: var(--bg-color-auth-form);
    width:50%;
    height: 100vh;
    min-height: fit-content;
    float:right;
    text-align: center;
    color: var(--txt-color-not-pure-white);
    display: flex;
    align-items: center;
}

#auth-form-container{
    width: 30em;
    height: fit-content;
    margin: auto;
}

#auth-form-container > form{
    margin: auto;
    margin-top: 3em;
    width: 15em;
}

#auth-form-container > form > label{
    display: block;
    text-align: left;
    margin-bottom: 0.3em;
    margin-top: 1em;
    font-weight: bold;
}

#auth-form-container > form > input{
    width: 100%;
    height: 1.5em;
    background-color: var(--bg-color-auth-form);
    border:none;
    border-bottom: 1px solid var(--bgButton-color-not-pure-white);
    color: var(--txt-color-not-pure-white);
    font-size: 1.2em;
}

#auth-form-container > form > input:focus{
    border:none;
    border-bottom: 1px solid var(--bgButton-color-not-pure-white);
    outline: none;
}

input[type="submit"]{
    margin-top: 1em;
    margin-bottom: 0em;
    width: 90%;
    height: 3.5em;
    border-radius: 2em;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
    background: var(--bgButton-color-not-pure-white);
    color: var(--txt-color-dark-gray);
    transition: 0.8s;
}

input[type="submit"]:hover{
    scale: 1.08;
}

input[type="submit"]:focus{
    transition: 0s;
    outline: 1px solid var(--bgButton-color-not-pure-white);
    outline-offset: 3px;
}

input[type="date"]{
    font-family: "Inter", "Roboto", sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(0.9);
}

#auth-form-container > h1{
    font-size: 2.2em;
    margin-bottom: 0.5em;
}

#auth-form-container > p{
    font-size:0.8em;
    color: var(--txt-color-gray);
}

.error{
    color: var(--txt-error-messages);
}

#authEscapeLinks{
    margin-top: 2.5em;
    margin-bottom: 4em;
    color: var(--txt-color-gray);
    font-size: 0.8em;
}

#authEscapeLinks > a{
    color: var(--txt-color-gray);
}

#authEscapeLinks > p{
    margin-top:1em;
}

/* ================== INPUT CHECK ===================*/

.hiddenError{
    display: none;
}

.shownError{
    display: block;
    color: var(--txt-error-messages);
    font-size: 0.7em;
    text-align: left;
}

#showHidePsw{
    width: 20px;
    height:20px;
    background-color: transparent;
    border:none;
    outline: none;
    position: relative;
    left:8em;
    bottom: 2em;
    border-radius: 50%;
}

#showHidePsw:focus{
    outline: 2px solid var(--bgButton-color-not-pure-white);
    outline-offset: 3px;
}

#showHideIcon{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

/*================ DETAIL PAGE ===================*/
/*================ DETAIL PAGE ===================*/
/*================ DETAIL PAGE ===================*/

#details-body{
    padding-top: 7em;
}

#details-body #breadcrumb{
    margin: 0em auto;
}

#contenuto-dettagli{
    width: 1200px;
    margin: 3em auto;
    height: fit-content;
    max-width: 90%;
    border: 1px solid var(--border-liquid-glass);
    border-radius: 3em;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(4.5px);
    color: var(--txt-color-not-pure-white);
}


#contenuto-dettagli > h1{
    text-align: center;
    background-color: var(--bg-color-auth-form);
    margin: 1.2em auto;
    width: 50%;
    border: 1px solid var(--accent-color);
    border-radius: 3em;
    font-size:2.5em;
    transition: 1s;
}


#imgScroller{
    width: 90%;
    margin:auto;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    transition: 1s;
}

.coverImg{
    border-radius: 1em;
    width:98%;
    margin: 0% 1%;
    transition: 1s;
}

#swipingController{
    width: fit-content;
    position: absolute;
    bottom: 10px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid var(--bgButton-color-not-pure-white);
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    padding: 0.3em;
}

#imgIndex{
    margin: 0em 0.5em;
    font-size: 0.7em;
}

#nextImg, #prevImg{
    background-color: transparent;
    border:none;
    transition: 0.5s;
}

#nextImg:hover, #prevImg:hover{
    transform: scale(1.2);
}

#contenuto-dettagli > h2{
    width: 50%;
    text-align: center;
    margin: 0.5em auto;
    border-bottom: 1px solid var(--txt-color-not-pure-white);
    font-size:2em;

}

#contenuto-dettagli > p{
    text-align: center;
    width: 80%;
    margin: 0.5em auto;
}

/* ============ ITINERARIO ===============*/
#itineraryContainer{
    width: 100%;
}

.itemItinerario{
    width: 60%;
    margin: 2em auto;
    display: flex;
    align-items: center;
}

.itineraryImg{
    width: 30%;
    border-radius: 1em;
    margin-right: 2em;
}

/* ====================== PARTENZE ========================*/
#containerPartenze{
    width: 90%;
    margin:auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

#listaPartenze{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.opzionePartenza{
    display: flex;
    align-items: center;
    border: 1px solid var(--bgButton-color-not-pure-white);
    background-color: transparent;
    border-radius: 0.5em;
    padding:0.5em;
    margin-bottom: 1em;
    transition: 0.5s;
}

.opzionePartenza:hover, .opzionePartenza:focus{
    transform: scale(1.03);
    background-color: rgba(255, 255, 255, 0.1);
}

.opzionePartenza > time{
    margin: 0em 0.5em;
}

.opzionePartenza > .dataArrivo{
    border-right: 2px solid var(--bgButton-color-not-pure-white);
    padding-right: 1em;
    margin-right: 1em;
}
.costoInziale{
    display: inline;
}

.costoIniziale{
    font-size: 0.7em;
    text-decoration: line-through;
}

.costoFinale{
    font-size: 1.2em;
    text-align: center;
    margin-right: 1em;
    margin-top:0.5em;
}

.sconto{
    display: inline-block;
    font-size: 0.8em;
    background-color: var(--accent-color);
    color: black;
    font-weight: bold;
    padding:0.3em;
    border-radius: 0.3em;
    margin-left: 0.5em;
}

.selectionIndicator{
    appearance: none;
    /* Safari support */
    -webkit-appearance: none;
    border-radius: 3em;
    background-color: transparent;
    width: 2em;
    height: 2em;
    margin-left: auto;
    border: 2px solid var(--bgButton-color-not-pure-white);
    border: 2px solid var(--accent-color);

 }

.selectionIndicator:checked{
    background-color: var(--accent-color);
    border: none;
    outline: none;
}

#riepilogoAcquisto{
    border: 1px solid var(--bgButton-color-not-pure-white);
    background-color: transparent;
    width: 20%;
    border-radius: 1.5em;
    padding: 1em 2em;
    float: right;
    font-size: 0.8em;
    transition: 0.5s;
}

#riepilogoAcquisto:hover{
    transform: scale(1.03);
    background-color: rgba(255, 255, 255, 0.1);
}

#riepilogoAcquisto > h3{
    font-size: 1.6em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.3em;
}

#riepilogoAcquisto > p{
    margin-bottom: 0.5em;
}

#riepilogoAcquisto span, #riepilogoAcquisto time{
    font-size: 1.2em;
}

#buyButton{
    text-align: center;
    font-weight: bolder;
    font-size: 1.3em;
    margin:auto;
    margin-top: 0.5em;
    width: 100%;
    color: black;
    border-radius: 2em;
    border: none;
    outline: none;
    padding: 0.5em 0em;
    background-color: var(--accent-color);
}

#buyButton:hover{
    background-color: var(--bg-color-dark-gray);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}


#buyButton:focus{
    outline: 1px solid var(--bgButton-color-not-pure-white);
    outline-offset: 3px;
}


/* =============== RECENSIONI ==============*/

#containerRecensioni{
    display: flex;
    margin:auto;
    width: 70%;
    margin-bottom: 2em;
    flex-wrap: wrap; 
}

.recensione{
    width: 30%;
    border: 1px solid var(--bgButton-color-not-pure-white);
    border-radius: 3em;
    margin: 1em auto;
    display: inline-block;
    padding:1em 3em;
    font-size: 0.9em;
    transition: 0.5s;
}

.recensione:hover{
    transform: scale(1.02);
}

.userIcon{
    width: 3em;
    display: inline;
    float: left;
}

.recensione > h3{
    font-size: 1.5em;
    margin-left: 2.9em;
    min-height: 2.5em;
}

.dataRecensione{
    text-align: right;
}

.recensione > p{
    margin: 0.5em 0em;
}


/* =================== END CHRIS ====================*/
