* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color-dark-black: #000000;
    --bg-color-dark-gray: #242424;
    --txt-color-gray: #8B8B8B;
    --txt-color-not-pure-white: #F0F0F0;
    --link-color-not-pure-white: #F0F0F0;
    --txt-color-dark-gray: #242424;
    --txt-error-messages: #DF1818;
    --bgButton-color-not-pure-white: #F0F0F0;
    --header-bg-color: rgba(12, 12, 12, 0.9);
    --border-liquid-glass: rgba(255, 255, 255, 0.4);

    --bg-color-auth-form: #1b1b1b;

    /*PROPOSTE DI NOMI VARIABILI
    --link
    --visited-link
    --normal-text
    --error-te
    --secondary-text
    --border
    --button-bg
    */

}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 11em;
}

html, body {
    font-size: 100%;
    font-family: "Inter", "Roboto", sans-serif;
    line-height: 1.5em;
}


body {
    background-color: var(--bg-color-dark-black);
    background-image: url("../assets/img/sky_backgorund.jpg");
    background-attachment: fixed;
    padding-top: 11em;
}
/*================AIUTI NAVIGAZIONE====================== */
/*================AIUTI NAVIGAZIONE====================== */
/*================AIUTI NAVIGAZIONE====================== */

.aiuti-navigazione {
    position: fixed;
    z-index: 1001;
    top: 10px;
    left: -999em;
    color: var(--txt-color-not-pure-white);
    background-color: var(--bg-color-dark-black);
    border-radius: 40px;
    padding: 1em;
    text-decoration: none;
}

.aiuti-navigazione:focus {
    left: 10px;
}

/*================HEADER====================== */
/*================HEADER====================== */
/*================HEADER====================== */

header {
    padding-left: 0.3em;
    padding-right: 0.3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.5s;
}

.header-no-scroll {
    padding-top: 0em;
}

.header-scroll {
    padding-top: 0.7em;
}



#header-container {
    padding: 0.5em 2em 0.5em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
    max-width: 90%;

    border: 1px solid var(--border-liquid-glass);

    transition: all 0.5s;
}

.header-bg-liquid-glass {
    background: var(--header-bg-color);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3.5px);
}

.header-container-no-scroll {
    border-radius: 0px 0px 60px 60px;
}

.header-container-scroll {
    border-radius: 60px;
}


#logo {
    display: block;
    background-image: url("../assets/img/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    text-indent: -9999em;
    height: 90px;
    min-width: 153px;
    text-align: center;
    padding-right: 1em;
    border-right: 1px solid var(--border-liquid-glass);
}

#top-header-container {
    align-items: center;
    display: flex;
    width: 100%;
}

.menu-link {
    color: var(--link-color-not-pure-white);
    text-decoration: none;
}


#menu ul {
    display: flex; 
    list-style-type: none; 
    gap: 1.1em;
    font-size: 1.1em;
    margin-left: 1em;
}

#menu li {
    color: var(--txt-color-not-pure-white);
    text-decoration: none;
    margin: 1.5em 0 1.5em 0;
}

#login-link{
    color: var(--txt-color-dark-gray);
    background-color: var(--bgButton-color-not-pure-white);
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.8em;
    border-radius: 60px;
    border: none;
    margin-left: auto;
}

#button-menu-mobile {
    display: none;
    margin-left: auto;
    background: none;
    border: none;
    padding: 0.5em;
    min-height: 44px;
    min-width: 44px;
}

#image-button-menu-mobile {
    height: 25px;
    transition: all 0.3s;
}

.image-button-menu-mobile-chiuso {
    transform: rotate(0deg);
}

.image-button-menu-mobile-aperto {
    transform: rotate(180deg);
}

#menu-mobile {
    margin: 1em 0;
    width: 100%;
}

#menu-mobile ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    list-style-type: none; 
    margin: 1em 0;
}

#menu-mobile ul li {
    width: 100%;
    text-align: center;
    color: var(--txt-color-not-pure-white);
    font-size: 1.5em;
}


#login-link-mobile {
    color: var(--txt-color-dark-gray);
    background-color: var(--bgButton-color-not-pure-white);
    text-decoration: none;
    padding: 0.2em 0.5em;
    border-radius: 60px;
    border: none;
}

#breadCrumb-container {
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 70%;
}

#breadCrumb {
    color: var(--txt-color-not-pure-white);
    font-size: 1em;
    border-radius: 0px 0px 60px 60px;
    border: 0.5px solid var(--border-liquid-glass);
    border-top: none;
    padding: 0 1.7em 0 1.7em;
}

#breadCrumb a {
    color: var(--txt-color-not-pure-white);
    text-decoration: none;
}

/*per chiusura apertura menu mobile*/


/*questo display: non viene sovrascritto da istruzioni con più specificità in mini_style.css*/
/*per risoluzione bug apertura menu mobile*/
.menu-mobile-chiuso-bassa-spec {
    display: none;
}


/*================MAIN====================== */
/*================MAIN====================== */
/*================MAIN====================== */

#contenuto {


    width: 1000px;
    background-color: gray;
    margin: 0 auto;
    height: 1000px;
    color: white;
    max-width: 90%;
}


/*================ CHRIS ================*/
#auth-page {
    background-color: var(--bg-color-dark-black);
    background-image: none;
    background-attachment: fixed;
    padding-top: 0em;
}

#planet-desktop{
    margin-top: 15vh;
    height: 70vh;
    position: fixed;
    right: 50%;
    min-height: 500px;
}

#planet-mobile{
    display: none;
}

#breadcrumb{
    background: var(--header-bg-color);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3.5px);
    color: var(--txt-color-not-pure-white);
    border: 1px solid var(--border-liquid-glass);
    padding: 0.3em 1em;
    border-radius: 1em;
    margin: 3em auto;
    width: fit-content;
    font-weight: bold;

}

#breadcrumb a {
    color: var(--txt-color-not-pure-white);
    font-weight: normal;
}

blockquote{
    position: absolute;
    color: var(--txt-color-gray);
    font-family: "Inter", "Roboto", sans-serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight:150;
    line-height: 1.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.907);
    margin: 2em 2em;
    max-width: 35%;
}

blockquote cite{
    float:right;
}

#auth-form-bg{
    background: var(--bg-color-auth-form);
    width:50%;
    height: 100vh;
    min-height: fit-content;
    float:right;
    text-align: center;
    color: var(--txt-color-not-pure-white);
    display: flex;
    align-items: center;
}

#auth-form-container{
    width: 30em;
    height: fit-content;
    margin: auto;
}

form{
    margin: auto;
    margin-top: 3em;
    width: 15em;
}

form > label{
    display: block;
    text-align: left;
    margin-bottom: 0.3em;
    margin-top: 1em;
    font-weight: bold;
}

form > input{
    width: 100%;
    height: 1.5em;
    background-color: var(--bg-color-auth-form);
    border:none;
    border-bottom: 1px solid var(--bgButton-color-not-pure-white);
    color: var(--txt-color-not-pure-white);
    font-size: 1.2em;
}

form > input:focus{
    border:none;
    border-bottom: 1px solid var(--bgButton-color-not-pure-white);
    outline: none;
}

input[type="submit"]{
    margin: 2.5em auto;
    margin-bottom: 0em;
    width: 90%;
    height: 3.5em;
    border-radius: 2em;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
    background: var(--bgButton-color-not-pure-white);
    color: var(--txt-color-dark-gray);
    transition: 0.8s;
}

input[type="submit"]:hover, input[type="submit"]:focus{
    scale: 1.08;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(0.9);
}

#auth-form-container > h1{
    font-size: 2.2em;
    margin-bottom: 0.5em;
}

#auth-form-container > p{
    font-size:0.8em;
    color: var(--txt-color-gray);
}

.error{
    color: var(--txt-error-messages);
}

#authEscapeLinks{
    margin-top: 2.3em;
    color: var(--txt-color-gray);
    font-size: 0.8em;
}

#authEscapeLinks > a{
    color: var(--txt-color-gray);
}

